body {
	background: url('../images/bg.jpg') center top no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
body.login h1 a {
	width: auto;
	height: auto;
	min-height: 45px;
	background: url('../images/logo.png') center center no-repeat;
}
body.login .message,
body.login #loginform {
	color: #ababab;
	background: rgba(255, 255, 255, 0.14);
}
body.login #loginform label {
	color: #ababab;
}
body.login #loginform .forgetmenot {
	margin-top: 10px;
}
body.login #loginform label input {
	border: none;
	font-size: 1em;
	box-shadow: none;
}
body.login #loginform label input[type="text"],
body.login #loginform label input[type="password"] {
	padding: 10px;
	display: block;
	margin-top: 10px;
}
body.login #loginform .submit input[type="submit"] {
	color: #fff;
	border: none;
	height: auto;
	font-size: 15px;
	font-weight: 600;
	border-radius: 0;
	box-shadow: none;
	text-shadow: none;
    padding: 7px 25px;
    text-transform: uppercase;
    background: rgba(163, 59, 150, 0.48);
    font-family: 'Josefin Sans', sans-serif;
    transition: .3s ease;
    -webkit-transition: .3s ease;
}
body.login #loginform .submit input[type="submit"]:hover {
	background: rgba(117, 166, 206, 0.48);
}
body.login #nav,
body.login #nav a,
body.login #backtoblog a {
	color: #ababab;
}
body.login #nav a:hover,
body.login #backtoblog a:hover {
	color: #a33b96;
}